* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  row-gap: 10px;
  background-image: linear-gradient(
    to bottom right,
    rgb(252, 187, 0),
    rgb(249, 149, 0),
    rgb(251, 137, 0),
    rgb(182, 79, 58),
    rgb(155, 52, 122),
    rgb(165, 47, 153),
    rgb(134, 24, 210)
  );
}

.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25vw;
  height: 60%;
  min-width: 400px;
  max-width: 425px;
}
.buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  column-gap: 20px;
}

button {
  width: 90px;
  height: 40px;
  background-color: rgb(40, 42, 58);
  color: rgb(116, 116, 115);
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

span {
  color: white;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  color: white;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  height: 80%;
  padding: 5px;
  background-image: linear-gradient(
    to bottom right,
    rgb(134, 24, 210),
    rgb(165, 47, 153),
    rgb(155, 52, 122),
    rgb(182, 79, 58),
    rgb(251, 137, 0),
    rgb(249, 149, 0),
    rgb(252, 187, 0)
  );
}

.box {
  height: 10vh;
  width: 21%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: black;
  transform-style: preserve-3d;
  transition: transform 400ms;
}

.gameOver {
  display: none;
}

.endMessage {
  display: block;
}

.one {
  color: white;
  background-color: white;
  background-image: url("./icons/13386934661683191812.svg");
  transform: rotate3d(-1, -1, 0, 180deg);
}

.two {
  color: white;
  background-color: white;
  background-image: url("./icons/15219292871683191813.svg");
  transform: rotate3d(-1, -1, 0, 180deg);
}

.three {
  color: white;
  background-color: white;
  background-image: url("./icons/17384797831683191805.svg");
  transform: rotate3d(-1, -1, 0, 180deg);
}

.four {
  color: white;
  background-color: white;
  background-image: url("./icons/20289106671683191808.svg");
  transform: rotate3d(-1, -1, 0, 180deg);
}

.five {
  color: white;
  background-color: white;
  background-image: url("./icons/2076850531683191812.svg");
  transform: rotate3d(-1, -1, 0, 180deg);
}

.six {
  color: white;
  background-color: white;
  background-image: url("./icons/4791397661683191810.svg");
  transform: rotate3d(-1, -1, 0, 180deg);
}

.seven {
  color: white;
  background-color: white;
  background-image: url("./icons/61368961683191806.svg");
  transform: rotate3d(-1, -1, 0, 180deg);
}

.eight {
  color: white;
  background-color: white;
  background-image: url("./icons/8467917571683191812.svg");
  transform: rotate3d(-1, -1, 0, 180deg);
}
